name: Code Quality Checks
on:
  pull_request:
    branches: ['master', 'develop']
    types: ['opened', 'reopened', 'synchronize']

jobs:
  build:
    name: Code Quality Checks
    runs-on: macos-latest
    
    steps:
      - name: Checkout source branch
        uses: actions/checkout@v3
      
      - name: Install xcpretty
        run: gem install xcpretty
        
      - name: Install Cocoapods
        run: gem install cocoapods
        
      - name: Pod install
        run: pod install
        
      - name: Build SDK(iOS)
        run: |
          xcodebuild build -scheme MetricsReporter-iOS -workspace MetricsReporter.xcworkspace -destination 'platform=iOS Simulator,name=iPhone 14' | xcpretty
          
      - name: Build SDK(watchOS)
        run: |
          xcodebuild build -scheme MetricsReporter-watchOS -workspace MetricsReporter.xcworkspace -destination 'platform=watchOS Simulator,name=Apple Watch Series 7 (45mm)' | xcpretty
      
      - name: Build SDK(tvOS)
        run: |
          xcodebuild build -scheme MetricsReporter-tvOS -workspace MetricsReporter.xcworkspace -destination 'platform=tvOS Simulator,name=Apple TV' | xcpretty
          
      - name: Build SDK(macOS)
        run: |
          xcodebuild build -scheme MetricsReporter-macOS -workspace MetricsReporter.xcworkspace -destination 'platform=macOS,arch=arm64' | xcpretty
      
      - name: Execute pod lint
        run: pod lib lint --no-clean --allow-warnings
